[data-panel='GDrivePanel']{
	line-height: 0;
	img{
		box-sizing: border-box;
		width: calc( 100% - 2px);
		height:auto;
		padding: 2px;
		margin: 1px;
		border: outset 1px;
		background-color: rgb(150, 192, 176);

		&:hover{
			border: solid 1px;
		}
		&:active{
			border: inset 1px;
		}
	}
}
[data-style='InputWindow']{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}